/* General */  
body {
    width: 800px;
    margin: 0 auto;
    background-image: url("../images/aang.gif");
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* Typography */  
/* font-family from google fonts */ 
h1,h2 {
    text-align: center;
}
h1{
    font-family: 'Comforter Brush';
    font-size: 50pt;
    color: darkgreen;
}
h2, p {
    font-family: 'Poppins', sans-serif;
}
/* Block styling */  
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* Form styling */  
body {
    background-color: darkseagreen;
}
input[type=text] {
    border: 4px solid darkgreen;
    border-radius: 4px;
}
input[type=submit] {
    background-color: white;
    color: darkgreen;
    border-radius: 4px;
    padding: 30px 30px 30px 30px;
}

/* Styling the products display */ 
img {
    height: 200px;
    width: 200px;
    padding: 25px 50px 50px 50px;}

img:hover{
    opacity: 0.75;
}