h1,h2 {
    font-family: oswald;
}

body {
    font-family: Open Sans;
    color: yellow;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color: black;
}


ul{
    list-style-type: none;
    margin: 0px;
    padding: 0em;
}

li{
    display: inline;
}

#navbar a{
    margin-left: 50px;
    margin-right: 50px;
}